{{define "page"}}
<h1 class='mb-4 text-4xl font-bold'>Contact Page</h1>
<p class='text-neutral-200'>
    To get in touch email me at <a href="mailto:ranjdotdev@gmail.com" class='underline'>ranjdotdev@gmail.com</a>
</p>
{{end}}