{{define "page"}}
<h2 class='text-2xl font-bold'>FAQ Page</h2>
<ul>
    {{range .}}
        {{template "q&a" .}}
    {{end}}
{{end}}

{{define "q&a"}}
    <li><b class='mr-2'>{{.Question}}</b>{{.Answer}}</li>
{{end}}