<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <style type="text/tailwindcss"></style>
  </head>
  <body class="bg-neutral-950 text-neutral-500 flex justify-center items-center min-h-screen">
    <div class="w-screen px-4">
      <div class="max-w-4xl mx-auto bg-neutral-900 p-6 rounded-lg shadow-lg">
        <div class="text-gray-300 py-4">
          {{template "page" .}}
        </div>
      </div>
    </div>
  </body>
</html>